:root{
    --bg-color: #f44336;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 53px;
}

header nav ul{
    display: flex;
    list-style: none;
    background-color: var(--bg-color);
    box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.78);
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.78);
    -moz-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.78);
    z-index: 1;
    position: relative;
}

header nav ul li a{
    display: block;
    padding: 17px 21px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: background-color 0.8s ease, color 0.8s ease;
}

header nav ul li a:hover{
    color: black;
    background-color: white;
}

.active{
    color: black;
    background-color: white;
}

.active:hover{
    background-color: silver;
}

main{
    min-height: calc(100vh - 185px - 60px);
    width: 100%;
}

.container-1{
    width: 100%;
    height: 465px;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.container-1 h1{
    text-transform: uppercase;
    font-size: 63px;
}

.container-1 p{
    margin: 31px 0px 18px 0px;
    font-size: 23px;
    font-weight: bolder;
}

.container-1 .btn{
    padding: 10px 24px;
    background-color: black;
    color: white;
    border: none;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 1s , color 1s ;
}

.container-1 .btn:hover{
    color: black;
    background-color: silver;
}

.box1{
    width: 748px;
}

.container-2{
    width: 70%;
    height: 550px;
    display: flex;
    margin: auto;
    align-items: center;
}

h2{
    text-transform: capitalize;
    font-size: 34px;
}

.middle{
    font-weight: bold;
    margin: 44px 0px;
}

.light{
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
}

.container-3{
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c0c0c042;;
}

.box3{
    width: 300px;
}

.box4{
    width: 780px;
}

footer{
    background-color: #000000a6;
    height: 185px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
}